body{
    background-color: rgb(215, 143, 246);
}
#output{
background: white;
border-radius: 10px;
border-top: 10px solid #8deeff;
padding: 10px;
float: none;
text-align: left;
}
#button_send{
    background-color: rgb(150, 253, 253);
}
#button_check{
    background-color: rgb(215, 143, 246);
}